# Ignoring the containers since they are huge
*.sif

# macOS system files
*.DS_Store

# Ignore large model data
*/models/

# Ignore tests and Slurm logs
*tests
*pytest*
*rest_test_requirements.txt
*matcher_err*
*matcher_output*

# Ignore Python cache files
__pycache__/
*.pyc