# Core LangChain library and integration for Ollama
langchain
langchain-ollama

# For the progress bar on the server side
tqdm

# Do not need langchain chroma since we are not 
# implementing a vector DB just yet
# langchain-chroma